 body {
            font-family: TimesNewRoman;
            margin: 0;
            padding: 0;
        }

        .container {
            overflow: hidden;
            height: 100vh;
            background: darkseagreen;
        }

        #image {
  margin: 20px auto;
  width: 30%; /* Adjusted to be 30% of the container width */
  max-width: 200px;
  height: auto;
  border: dashed 3px darkgreen;
  position:relative;
  top:-190px;
  left:-645px;
  border-radius: 50%;
  overflow: hidden;
}

        h1 {
            font-size: 4vw; /* Responsive font size based on viewport width */
            text-align: center;
            margin: 10px 0;
            border: solid 3px darkgreen;
            background:#C1E1C1;
        }

        h2 {
            font-size: 2vw; /* Responsive font size based on viewport width */
            text-align: center;
            margin: 10px 0;
            border: solid 3px darkgreen;
            background:#C1E1C1;
        }
		 h3 {
            font-size: 2vw; /* Responsive font size based on viewport width */
            text-align: center;
            margin: 10px 0;
        }

        .user-table {
			position: relative;
			top: -230px;
			left: 100px;
            margin: 10px auto;
            width: 70%; /* Adjusted to be 70% of the container width */
            max-width: 3000px;
			max-height: 500px;
            background: white;
            border: solid 3px darkgreen;
            border-radius: 10px;
            overflow: auto; /* Add scroll if table exceeds container */
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        table th, table td {
            padding: 5px;
            border: solid 1px darkgreen;
            text-align: center;
            font-size: 15px;
        }

        table th {
            background: #C1E1C1;
            color: darkgreen;
        }

		button 
		{
			position:relative;
			top:-155px; 
			left:715px;
			font-size:15px;
		}
button:hover 
{
  color: #fff;
  transform: scale(1.05);
  background:seagreen;
}