body {
  font-family: TimesNewRoman;
  margin: 0;
  padding: 0;
}
.container {
  overflow: hidden;
  height: 100vh;
  background: darkseagreen;
}
#image {
  margin: 20px auto;
  width: 30%; /* Adjusted to be 30% of the container width */
  max-width: 200px;
  height: auto;
  border: dashed 3px darkgreen;
  position:relative;
  top:-170px;
  left:-645px;
  border-radius: 50%;
  overflow: hidden;
}
h1 {
  font-size: 4vw; /* Responsive font size based on viewport width */
  text-align: center;
  margin: 10px 0;
  position:relative;
  top:35px;
  border: solid 3px darkgreen;
  background:#C1E1C1;
}
h2 {
  font-size: 2vw; /* Responsive font size based on viewport width */
  text-align: center;
  margin: 10px 0;
  position:relative;
  top:15px;
  border: solid 3px darkgreen;
  background:#C1E1C1;
}
#text {
  position:relative;
  top:-230px;
  margin: 20px auto;
  width: 50%; /* Adjusted to be 50% of the container width */
  max-width: 550px;
  height: 40px;
  font-family: TimesNewRoman;
  font-size: 2vw; /* Responsive font size based on viewport width */
  text-align: center;
  background: #5F8575;
  border: solid 2px;
  
}
#rnaaf {
  position:relative;
  top:-245px;
  padding-left:10px;
  font-size: 1.5vw; /* Responsive font size based on viewport width */
  margin: 20px auto;
  width: 60%; /* Adjusted to be 50% of the container width */
  max-width: 600px;
  font-family: TimesNewRoman;
  max-height: 485px;
  border: solid 2px;
  background: #C1E1C1;
  overflow: scroll;
}
input 
{
    width: 50%;
    padding: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
}
input:hover 
{
  color: #fff;
  transform: scale(1.05);
  background:darkseagreen;
}
#goback
{
	position: relative;
	font-size: 1.3vw;
	top: -34px;
    left: 450px;
	color: green;
}
